@import "tailwindcss";

body{
    font-family: poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    ::-webkit-scrollbar {
        display: none;
      }

      
}

.slick-slide > div{
  margin: 0 10px;
}
